@import "../../styles/variables";
@import "../../styles/mixins";

.user-form {
  &_wrapper {
    width: 100%;
  }

  &__checkbox {
    display: inline-flex;
    padding: 2px;

    &_wrapper {
      display: flex;
      align-items: center;
    }

    &__label {
      display: inline-flex;
      cursor: pointer;
      @include text-label;
    }

    &-error {
      color: $active_tab;
    }

  }

  &__buttons {
    &_wrapper {
      @include buttons_wrapper;
      justify-content: flex-end;
    }
  }
}