@import './variables';

@mixin button-default {
  cursor: pointer;
  margin: 4px;
  border: 1px solid #c1c1c1;
  border-radius: 2px;
  display: flex;
  font-size: 14px;
  color: #222;
  font-weight: 400;
  line-height: 1.2em;
  padding: 10px 20px;
  text-transform: uppercase;
  text-decoration: none;
  transition: background .3s, color .3s;
}

@mixin buttons_wrapper {
  position: absolute;
  width: 100%;
  bottom: 0px;
  display: flex;
  align-items: center;
}

@mixin text-label {
  font-size: 12px;
  color: $label_color;
  cursor: default;
  margin: 4px;
}
