@import "../../styles/variables";
@import "../../styles/mobile";

.menu {
  &_wrapper {
    margin-top: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  &_tab {
    margin: 0 10px;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;

    &_is-full {
      font-size: 12px;
      margin-bottom: 7px;
      color: #adadad;
      text-align: center;
    }

    a {
      color: grey;
      text-align: center;
      padding: 4px 5px;
      text-decoration: none;
      border-bottom: 1px solid #e8e8e8;
    }


    &_active {
      a {
        color: $active_tab;
        border-bottom: 1px solid $active_tab;
      }
    }
  }
}

@media (max-width: 600px) {
  .menu {
    @include menu-mobile;
  }
}