@import "../../styles/mixins";
@import "../../styles/variables";

.finish {

  &_button {
    @include button-default;
    display: block;
    width: 100px;
    text-align: center;
    background: #ffc3c3;


    &_wrapper {
      @include buttons_wrapper;
      justify-content: flex-end;
    }
  }

  &_error {
    color: $active_tab;

    text-align: center;
    margin: 10px;
  }
}